{% extends 'base.html' %}

{% block content%}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Company:</h5>
			<hr>
		<!--	<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Place Order</a>-->
			<p>
				{% for k,v in d.items %}
				{%if forloop.first%}
				{{v.company}}
					 
			</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Company Information</h5>
			<hr>
			<p>Category: 

				{{v.category}}

		 </p>
			<p>EmpNo.: 

				{{v.numEmps}}

		</p>	
		</div>
	</div>
	{%endif %}
	{%endfor%}
	
	<div class="col-md">
		<div class="card card-body">
			<h5>Total Funding</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">
				{% for k,v in d.items %}
				{%if forloop.last%}
				{{v}}
				{%endif%}
				{%endfor%}</h1>
		</div>
	</div>
</div>


<br>
<div>
  <canvas id="myChart"></canvas>
</div>
<br>

	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>FundedDate</th>
					<th>raisedAmt</th>
					<th>raisedCurrency</th>
					<th>round</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for k,v in d.items %}
				{%if forloop.counter == 2 %}
				{% for i in v %}
				<tr>
					<td>{{i.fundedDate}}</td>
					<td>{{i.raisedAmt}}</td>
					<td>{{i.raisedCurrency}}</td>
					<td>{{i.round}}</td>
					<td><a class="btn btn-sm btn-info" href="">Update</a></td>

							<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>	
				</tr>
				{% endfor %}
				{%endif%}
				{% endfor %}

			</table>
		</div>
	</div>
</div>

<script>
	var pl="{{pl}}"
	var dataURL=`/analytics/companybarapi/${pl}/`
	$.ajax({
			method:'GET',
			url: dataURL,
			success : function(response){
				console.log('RESPONSE:',response)
				var s=response
				const data = {
  datasets: [{
    label: 'Fundings',
    data: s,
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
      'rgb(201, 203, 207)'
    ],
    borderWidth: 1
  }]
};	
	const config = {
  type: 'bar',
  data: data,
  options: {
    scales: {
    	x:{
    		type:'time',
    		time:{
    			unit: 'day',
    		}

    	},
      y: {
        beginAtZero: true
      }
    }
  },
};

const myChart = new Chart(
			    document.getElementById('myChart'),
			    config
			  );}
			

			})
	
</script>

{% endblock %}